<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="ComplaintDBConnection"
			 connectionString="Server=localhost;Database=ComplaintManagementDB;Integrated Security=True;" />
	</connectionStrings>
	<appSettings>
		<!-- Allow ScriptManager to use CDN paths from ScriptResourceMapping (e.g., jQuery). -->
		<add key="aspnet:UseCdn" value="true" />
	</appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <pages>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="30" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
